body {
    width: 1024px; 
    margin: 0 auto; 
    background-image: url('web-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header{
    position: fixed;
    font-size: 25px;
    color: white;
    background-color: Black;
    top: 0px;
    left: 0px;
    width: 100%;
}
.main-div {
      display: flex;  /* Use flexbox */
      align-items: center;  /* Center items vertically */
      justify-content: center;  /* Center items horizontally */
      background-color: #222222;
      color: white;
      padding: 0px;
      width: 85%;
      max-width: 1250px;  /* Limit max width for larger screens */
      margin: 20px auto; 
      border-radius: 30px;  /* Optional: rounded corners */
}
.main-text {
      font-size: 30px;
      padding-left: 20px;
    width: 70%;  /* Adjust width as needed */
    margin-right: 20px;  /* Space between text and logo */
    text-align: left;  /* Center text within the block */
}
.main-text h1{
      margin: 0px ;
      padding: 0px;
}
.logo {
    width: 300px;  /* Default logo size for larger screens */
    height: auto;  /* Maintain aspect ratio */
    padding-top: 10%;
}

.icon{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 20px;
}
.icon h3{
    align-items: center;
    color: White;  
    display: inline;
}

.icon img{
    margin-left: 20px;
    margin-right: 10px;
}

.motiv{
    color: white;
    margin-top: 150px;
    margin-left:8%;
    margin-right: 30%;
}
.motiv h1{
    font-size: 40px;
    margin-bottom: 0px;
}
.motiv h3{
    font-size: 10px;
}

.div-under-motiv{
    margin-left: 5% ;
    margin-right: 5% ;
}
.div-cpp{
    background-color: #222222;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    margin: 10px ;
}

.div-program{
    color: White;
    margin: 4%;
    margin-bottom: 5%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.div-program h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

details{
    width: 70%;
    margin-left: 10% ;
    margin-top: 20px;
    color: white;
    background-color: #222222;
    border-radius: 20px;
    padding: 10px;
}
summary{
    font-weight:bold;
    margin-left: 20px;  
}
.code-block {
   background-color: black;
   color: white; /* Default text color */
   padding: 10px;
   font-family: monospace;
   margin-top: 20px; /* Space between details and code block */
   border-radius: 10px;
   overflow: auto;
}

.code-block span {
   color: #ff007f; /* Example of colorful text */
}
